@media (min-width: 1024px) {
    /* header */
    .user-info {
      position: relative;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .user-details {
      align-items: flex-start;
      overflow: hidden;
    }
    .details-text-1 {
      font-size: 3.1em;
    }
    .details-text-2 {
      font-size: 4.4em;
    }
    .details-text-3 {
      font-size: 1.5em;
    }
    .satisfied-div {
      position: absolute;
      bottom: 5px;
      right: 0;
      font-size: 1.5em;
    }
    .satisfied-div hr {
      border: 3px solid #e93656;
      margin-top: 1rem;
    }
    /* main */
    .section-1-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "user-text user-img user-skills";
      padding: 1em;
      align-items: center;
    }
    .user-text {
      align-items: flex-end;
      gap: 1.5em;
    }
    .user-text-headings {
      gap: 0.5em;
    }
    .user-text-headings h2 {
      font-size: 2em;
    }
    .user-text-headings h4 {
      font-size: 100%;
      font-size: 0.8em;
    }
    .user-text-p-wrapper {
      padding: 0 0 0 8em;
    }
    .hire-btn-1 {
      display: block;
      padding: 0.8em 2.8em;
      background: #e93656;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .hire-btn-2 {
      display: none;
    }
    .skills {
      align-items: flex-start;
      gap: 3em;
    }
    .section-1-footer {
      display: flex;
      gap: 5em;
      padding: 2em;
      align-items: center;
      justify-content: center;
    }
    .service-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .reccomendation-wrapper {
      flex-direction: row;
      padding: 14em 0;
    }
    .rec-text {
      order: 1;
    }
    .rec-user {
      flex-direction: row;
      gap: 2.5em;
    }
    .rec-user-img {
      display: block;
    }
    .rec-user-info h5 {
      margin-top: 2.5em;
    }
    .rec-user-info p {
      width: 250px;
    }
    .rec-buttons {
      flex-direction: column;
      gap: 1em;
      margin: 0 0 0 5em;
    }
    .section-3 h2{
      font-size: 4.3em;
      margin-bottom: .3em;
    } 
    .latest-project-wrapper {
      width: 1100px;
      max-width: 100%;
      margin: 0 auto;
      gap: 1em;
      flex-direction: row;
      align-items: flex-start;
    }
  
    .project-ul {
      padding: 4em 3em;
      grid-template-columns: 1fr;
    }
    .projects {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: 900px;
    }
    .latest-articles-wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .latest-articles-inner-wrapper {
      align-items: flex-start;
      gap: 1em;
    }
    .latest-articles-inner-wrapper h3 {
      font-size: 2.5em;
    }
    .section-4-heading-box h2, .section-5 h2 {
      font-size: 4.3em;
    }
    .imp-text p {
      font-size: 2.3em;
    }
    .order-1, .order-2, .order-3, .order-4, .order-5, .order-6 {
      order: 1;
    }
    .partner-logos {
      margin: 4em;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 3.5em;
    }
    .partner-logos div {
      width: 150px;
    }
    .contact-wrapper {
      padding: 7em;
    }
    .contact-text h2 {
      font-size: 2em;
    }
    .form-container {
    grid-template-columns: 1fr 1fr 1fr;
    }
    .form-container div input {
      padding: 2em;
    }
    .message-box {
      grid-column: -1 / -3;
    }
    .upper-footer {
      padding: 7em;
   }
    h1 {
      font-size: 3.5em;
    }
  }
  
  @media (min-width: 1200px) {
    .service-wrapper {
      grid-template-columns: repeat(4, 290px);
    }
  }
  © 2022 GitHub, Inc.
  Terms
  Privacy
  Security
  